.body {
  --background-start-rgb: 249, 246, 238;
  --background-end-rgb: 242, 237, 228;

  display: flex;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  position: relative;
  overflow: hidden;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  @media screen and (max-width: 1280px) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: row;
    padding-top: 42px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 28px;
  }

  .content_wrapper {
    display: flex;
    width: 100%;
    gap: 24px;

    @media screen and (max-width: 1280px) {
      gap: 16px;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.top_button {
  align-items: center;
  background-color: rgba(120, 28, 46, 0.15);
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  bottom: 4.2em;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 38px;
  padding: 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 38px;
  z-index: 1;

  @media screen and (max-width: 768px) {
    bottom: 4.2em;
    right: 0.4em;
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}

.language_selector_button {
  align-items: center;
  background-color: rgba(120, 28, 46, 0.15);
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  bottom: 0.5em;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  position: fixed;
  right: 10px;
  text-align: center;
  height: 38px;
  width: 38px;
  z-index: 1;

  @media screen and (max-width: 768px) {
    bottom:0.4em;
    right: 0.4em;
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}
